<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
    <title>Main</title>
</head>
<body>
    <div class="container">
        <h2>Welcome to Main Menu</h2>     

        <form action="/faq1" method="post">
            <input type="submit" value="Factors for Profit">
        </form>

        <form action="/FAQ_input" method="post">
            <input type="text" name="q"><br>
            <input type="submit" value="Enter">
        </form>

        <form action="/main" method="post">
            <input type="submit" value="Main">
        </form>
    </div>
</body>
</html>