<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>


<body>
    <div class = "container">
        <h2>Predict Food Expenditure</h2>

        <input type="number" id="salary" placeholder="salary">
        <button class="btn" onclick="predict_foodexp()">Enter</button>
        <p id="foodexp"></p>
        <form action="/main" method="post">
            <input type="submit" value="Main">
        </form>
        <script>
            function predict_foodexp(){
                const salary=document.getElementById("salary").value
                console.log(salary)
                document.getElementById("foodexp").innerText = "predicted food expenditure " + ((salary*0.4851)+147.4)
            }
        </script>

    </div>
    
</body>